/* Colours based on zenburn,
 * See https://github.com/bbatsov/zenburn-emacs/blob/master/zenburn-theme.el
 */
body {
    background-color: #3F3F3F;
    color: #DCDCCC;
    
    font-family: monospace;
    font-size: 1.7em;

    max-width: 700px;
    margin: 20px;
    padding-bottom: 50px;
}

h1, h2, h3 {
    color: #FFFFEF;
}

h1 {
    margin-top: 0;
}

h1:before {
    content: "* "
}

h2:before {
    content: "** "
}

ul {
    padding: 0;
    list-style-type: none;  
}
li:before {
    content: "- "
}

a, a:visited, a:hover, a:active {
    color: #93E0E3;
}

.border:before {
    content: "["
}
.border:after {
    content: "]"
}

footer {
    background-color: #2B2B2B;
    position: fixed;
    bottom: 0;
    margin: 20px 0;
    width: 100%;
    word-spacing: 2em;
}

footer p {
    margin: 0 0 0 20px;
}

footer p:before {
    content: "U:-- "
}

@media (max-width: 600px) {
  footer {
    display: none;
  }
}
